<div class="top-chat">
  <div class="chat-gaiyou">hogefuga
  </div>
  <div class="chat-syuryou">
  <a href="">チャットを終了する</a>
  </div>
</div>

<div class="middle-chat">
  <div class="chat-now">
    <div class="chat-user">
      <div class="chat-name">Tom</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-comment">
      <div class="chat-comments">おはよう</div>
    </div>
  </div>
  <div class="chat-now">
    <div class="chat-user">
      <div class="chat-name">Tom</div>
      <div class="chat-date">2020/3/31(Wed) 12:47:30</div>
    </div>
    <div class="chat-comment">
      <div class="chat-comments">こんばんわ</div>
    </div>
  </div>
</div>


<div class="bottom-chat">
  <div class="contact">
    <input placeholder="type a message" class="message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="send">
  </div>
</div>