<div class="top-chat">
  <div class="chat-gaiyou">hogefuga
  </div>
  <div class="chat-syuryou">
  <a href="">チャットを終了する</a>
  </div>
</div>

<div class="middle-chat">
  <div class="chat-now">
    <div class="chat-user">
      <div class="chat-name">Tom</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-comment">
      <div class="chat-comments">おはよう</div>
    </div>
  </div>
  <div class="chat-now">
    <div class="chat-user">
      <div class="chat-name">Tom</div>
      <div class="chat-date">2020/3/31(Wed) 12:47:30</div>
    </div>
    <div class="chat-comment">
      <div class="chat-comments">こんばんわ</div>
    </div>
  </div>
</div>


<%= form_with model: [@room, @message], html: {class: "bottom-chat"}, local: true do |f|%>
  <div class="contact">
    <%= f.text_field :content, class: 'message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>